<section id="advertisement" class="advertisement">
  <div class="container">
    <div class="ad-container">
      <div class="ad-text-container">
        <h2 class="visually-hidden">Advertisement</h2>
        <p class="ad-text">
          Choose <span class="ad-text-color">your story</span>, making every
          moment unique. Time is your style, and we reveal it.
        </p>
      </div>
      <div class="ad-link-container">
        <a href="#contact-us" class="ad-link">Contact Us</a>
      </div>
    </div>
  </div>
</section>
