<section id="catalog" class="catalog-section">
  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/catalog.css" />
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <div class="catalog-list">
    <ul class="box-catalog">
      
        <li class="imgs-catalog">
          <picture>
            <source
              srcset="
                ./img/catalog-img/catalog-desctop6.png    1x,
                ./img/catalog-img/catalog-desctop6@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog-tablet1.png    1x,
                ./img/catalog-img/catalog-tablet1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog1.png    1x,
                ./img/catalog-img/catalog1@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog-img/catalog1.png"
              alt="img-catalog1"
              class="catalog-list-img"
            />
          </picture>
          <div class="txt-catalog">
            <h3 class="catalog-list-title">
              Garmin Fenix 7X Pro Sapphire Solar
            </h3>
            <p class="catalog-list-text">€500</p>
          </div>
        </li>
        <li class="imgs-catalog">
          <picture>
            <source
              srcset="
                ./img/catalog-img/catalog-desctop5.png    1x,
                ./img/catalog-img/catalog-desctop5@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog-tablet2.png    1x,
                ./img/catalog-img/catalog-tablet2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog2.png    1x,
                ./img/catalog-img/catalog2@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog-img/catalog2.png"
              alt="img-catalog2"
              class="catalog-list-img"
            />
          </picture>
          <div class="txt-catalog">
            <h3 class="catalog-list-title">Garmin Marq Athlete</h3>
            <p class="catalog-list-text">€450</p>
          </div>
        </li>
        <li class="imgs-catalog">
          <picture>
            <source
              srcset="
                ./img/catalog-img/catalog-desctop4.png    1x,
                ./img/catalog-img/catalog-desctop4@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog-tablet3.png    1x,
                ./img/catalog-img/catalog-tablet3@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog3.png    1x,
                ./img/catalog-img/catalog3@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog-img/catalog3.png"
              alt="img-catalog3"
              class="catalog-list-img"
            />
          </picture>
          <div class="txt-catalog">
            <h3 class="catalog-list-title">Garmin Descent MK1</h3>
            <p class="catalog-list-text">€680</p>
          </div>
        </li>
        <li class="imgs-catalog">
          <picture>
            <source
              srcset="
                ./img/catalog-img/catalog-desctop3.png    1x,
                ./img/catalog-img/catalog-desctop3@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog-tablet4.png    1x,
                ./img/catalog-img/catalog-tablet4@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog-img/catalog1.png    1x,
                ./img/catalog-img/catalog1@2x.png 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/catalog-img/catalog4.png"
              alt="img-catalog4"
              class="catalog-list-img"
            />
          </picture>
          <div class="txt-catalog">
            <h3 class="catalog-list-title">Garmin D2 Delta PX</h3>
            <p class="catalog-list-text">€380</p>
          </div>
        </li>
        <!-- <span class=""> -->
          <li class="imgs-catalog catalog-non">
            <picture>
              <source
                srcset="
                  ./img/catalog-img/catalog-desctop2.png    1x,
                  ./img/catalog-img/catalog-desctop2@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog-img/catalog-tablet5.png    1x,
                  ./img/catalog-img/catalog-tablet5@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./img/catalog-img/catalog-desctop2.png"
                alt="img-catalog5"
                class="catalog-list-img"
              />
            </picture>
            <div class="txt-catalog">
              <h3 class="catalog-list-title">Garmin Fenix 6 Pro Solar</h3>
              <p class="catalog-list-text">€400</p>
            </div>
          </li>
          <li class="imgs-catalog catalog-non">
            <picture>
              <source
                srcset="
                  ./img/catalog-img/catalog-desctop1.png    1x,
                  ./img/catalog-img/catalog-desctop1@2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog-img/catalog-tablet6.png    1x,
                  ./img/catalog-img/catalog-tablet6@2x.png 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="./img/catalog-img/catalog-desctop1.png"
                alt="img-catalog6"
                class="catalog-list-img"
              />
            </picture>
            <div class="txt-catalog">
              <h3 class="catalog-list-title">
                Tube Watch S42 Date Steel With Black Case
              </h3>

              <p class="catalog-list-text">€395</p>
            </div>
          </li>
        <!-- </span> -->
        
      
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
    </div>
  </div>
</section>
