<section class="contact-us-section">
    <div class="container contact-us-container">
        <h2 class="contact-us-h2">Contact Us</h2>
        <div class="cus-con-div ">
            <div class="input-container">

                <form class="contact-us-form">
                    <div class="tablet-container">
                        <p class="contact-us-paragraph">
                            Please use the form below to contact us. Enter your name,
                            email, phone, and message and we'll get back to you shortly.
                        </p>
                        <div class="cu-form-container">
                            <label for="contact-us-name" class="cu-form-label">
                                <input id="contact-us-name" type="text" class="cu-form-input" name="input-name"
                                    placeholder="Name" required>
                            </label>
                        </div>
                        <div class="cu-form-container">
                            <label for="contact-us-email" class="contact-us-label">
                                <input id="contact-us-email" type="email" pattern="[a-ZA-Zа-яА-ЯіІїЇ]"
                                    class="cu-form-input" name="input-email" placeholder="Email" required>
                            </label>
                        </div>
                        <div class="cu-form-container">
                            <label for="contact-us-tel" class="contact-us-label">
                                <input id="contact-us-tel" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                                    class="cu-form-input" name="input-tel" placeholder="+380" required>
                            </label>
                        </div>
                        <div class="cu-form-container">
                            <label for="contact-us-text" class="contact-us-label">
                                <textarea id="contact-us-text" class="cu-form-text" name="input-tex"
                                    placeholder="Comment" required></textarea>
                            </label>
                        </div>

                        <button class="form-button" type="submit">Send</button>
                    </div>


                </form>
            </div>

            <picture>
                <source srcset="./img/contact-us-img/contactUs-clock.jpg 1x, ./img/contact-us-img/contactUs-clock@2x.jpg 2x" 
                media="(min-width:1280px)" />
                <source srcset="
                                        ./img/contact-us-img/contact-us-tablet.jpg 1x,
                                        ./img/contact-us-img/contact-us-tablet@2x.jpg 2x
                                    " media="(min-width:768px)" />
                <source srcset="
                                        ./img/contact-us-img/contact-us-phone.jpg 1x,
                                        ./img/contact-us-img/contact-us-phone@2x.jpg 2x
                                        
                                    " media="(max-width:767px)" />
                <img src="./img/contact-us-img/contact-us-phone.jpg" alt="card2" class="portfolio-img">
            </picture>

            
            <!-- <img src="../img/contact-us-img/contact-us-phone.jpg" alt="" class="contact-us-img"> -->
        </div>
    </div>
</section>