<header class="header">
  <div class="header-container">
    <p>watchcharm</p>
    <nav class="header-nav">
      <a class="header-logo" href="../index.html"></a>
      <ul class="header-menu">
        <li class="header-menu-item">
          <a class="header-menu-link" href="../index.html"></a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="../index.html"></a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="../index.html"></a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="../index.html"></a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="../index.html"></a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link" href="../index.html"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
