<section class="sale-container container">
    <p class="sale-section-title">Sale</p>
    <div class="sale-section-container">
        <div class="sale-box-img">
            <ul class="sale-list">
                <li class="sale-item">
                    <picture>
                        <source class="sale-item-img" type="image/jpeg"
                            srcset="./img/sale-images/mob-1-position-watch.png 1x, ./img/sale-images/mob-1-position-watch@2x.png 2x"
                            media="(max-width:767px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/mob-1-position-watch.webp 1x, ./img/sale-images/mob-1-position-watch@2x.webp 2x"
                            media="(max-width:767px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/tablet-1-position-watch.png 1x, ./img/sale-images/tablet-1-position-watch@2x.png 2x"
                            media="(max-width:1279px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/tablet-1-position-watch.webp 1x, ./img/sale-images/tablet-1-position-watch@2x.webp 2x"
                            media="(max-width:1279px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/desktop-1-position-watch.png 1x, ./img/sale-images/desktop-1-position-watch@2x.png 2x"
                            media="(min-width:1280px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/desktop-1-position-watch.webp 1x, ./img/sale-images/desktop-1-position-watch@2x.webp 2x"
                            media="(min-width:1280px)">

                        <img src="./img/sale-images/mob-1-position-watch.png" alt="1 position of watch">
                    </picture>
                </li>
                <li class="sale-item">
                    <picture>
                        <source type="image/jpeg"
                            srcset="./img/sale-images/mob-2-position-watch.png 1x, ./img/sale-images/mob-2-position-watch@2x.png 2x"
                            media="(max-width:767px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/mob-2-position-watch.webp 1x, ./img/sale-images/mob-2-position-watch@2x.webp 2x"
                            media="(max-width:767px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/tablet-2-position-watch.png 1x, ./img/sale-images/tablet-2-position-watch@2x.png 2x"
                            media="(max-width:1279px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/tablet-2-position-watch.webp 1x, ./img/sale-images/tablet-2-position-watch@2x.webp 2x"
                            media="(max-width:1279px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/desktop-2-position-watch.png 1x, ./img/sale-images/desktop-2-position-watch@2x.png 2x"
                            media="(min-width:1280px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/desktop-2-position-watch.webp 1x, ./img/sale-images/desktop-2-position-watch@2x.webp 2x"
                            media="(min-width:1280px)">

                        <img src="./img/sale-images/mob-2-position-watch.png" alt="2 position of watch">
                    </picture>
                </li>
                <li class="sale-item">
                    <picture>
                        <source type="image/jpeg"
                            srcset="./img/sale-images/mob-3-position-watch.png 1x, ./img/sale-images/mob-3-position-watch@2x.png 2x"
                            media="(max-width:767px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/mob-3-position-watch.webp 1x, ./img/sale-images/mob-3-position-watch@2x.webp 2x"
                            media="(max-width:767px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/tablet-3-position-watch.png 1x, ./img/sale-images/tablet-3-position-watch@2x.png 2x"
                            media="(max-width:1279px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/tablet-3-position-watch.webp 1x, ./img/sale-images/tablet-3-position-watch@2x.webp 2x"
                            media="(max-width:1279px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/desktop-3-position-watch.png 1x, ./img/sale-images/desktop-3-position-watch@2x.png 2x"
                            media="(min-width:1280px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/desktop-3-position-watch.webp 1x, ./img/sale-images/desktop-3-position-watch@2x.webp 2x"
                            media="(min-width:1280px)">

                        <img src="./img/sale-images/mob-3-position-watch.png" alt="3 position of watch">
                    </picture>
                </li>
                <li class="sale-item">
                    <picture>
                        <source type="image/jpeg"
                            srcset="./img/sale-images/mob-4-position-watch.png 1x, ./img/sale-images/mob-4-position-watch@2x.png 2x"
                            media="(max-width:767px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/mob-4-position-watch.webp 1x, ./img/sale-images/mob-4-position-watch@2x.webp 2x"
                            media="(max-width:767px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/tablet-4-position-watch.png 1x, ./img/sale-images/tablet-4-position-watch@2x.png 2x"
                            media="(max-width:1279px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/tablet-4-position-watch.webp 1x, ./img/sale-images/tablet-4-position-watch@2x.webp 2x"
                            media="(max-width:1279px)">

                        <source type="image/jpeg"
                            srcset="./img/sale-images/desktop-4-position-watch.png 1x, ./img/sale-images/desktop-4-position-watch@2x.png 2x"
                            media="(min-width:1280px)">
                        <source type="image/webp"
                            srcset="./img/sale-images/desktop-4-position-watch.webp 1x, ./img/sale-images/desktop-4-position-watch@2x.webp 2x"
                            media="(min-width:1280px)">

                        <img src="./img/sale-images/mob-4-position-watch.png" alt="4 position of watch">
                    </picture>
                </li>
            </ul>
            <picture class="sale-big-img">
                <source type="image/jpeg"
                    srcset="./img/sale-images/mob-big-watch.png 1x, ./img/sale-images/mob-big-watch@2x.png 2x"
                    media="(max-width:767px)">
                <source type="image/webp"
                    srcset="./img/sale-images/mob-big-watch.webp 1x, ./img/sale-images/mob-big-watch@2x.webp 2x"
                    media="(max-width:767px)">

                <source type="image/jpeg"
                    srcset="./img/sale-images/tablet-big-watch.png 1x, ./img/sale-images/tablet-big-watch@2x.png 2x"
                    media="(max-width:1279px)">
                <source type="image/webp"
                    srcset="./img/sale-images/tablet-big-watch.webp 1x, ./img/sale-images/tablet-big-watch@2x.webp 2x"
                    media="(max-width:1279px)">

                <source type="image/jpeg"
                    srcset="./img/sale-images/desktop-big-watch.png 1x, ./img/sale-images/desktop-big-watch@2x.png 2x"
                    media="(min-width:1280px)">
                <source type="image/webp"
                    srcset="./img/sale-images/desktop-big-watch.webp 1x, ./img/sale-images/desktop-big-watch@2x.webp 2x"
                    media="(min-width:1280px)">

                <img src="./img/sale-images/mob-big-watch.png" alt="The Garmin MARQ Commander Gen 2">
            </picture>
        </div>



        <div class="sale-card">
            <h3 class="sale-card-title">MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition</h3>
            <p class="sale-card-tag">Product tag: 706587</p>

            <div class="sale-card-price-box">
                <button class="sale-card-price-btn" type="button"><span>&#8364;</span>1500</button>
                <a class="sale-card-old-price" href="http://index.html"><span>&#8364;</span>3000</a>
            </div>
            <p class="sale-card-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                adventurers
                that takes
                materials and
                features
                to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
                precise
                AMOLED
                touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
            </p>
            <div class="sale-card-box">
                <ul class="sale-card-box-list">
                    <li class="sale-card-box-item">Fused carbon fiber</li>
                    <li class="sale-card-box-item">Grade-5 Titanuim</li>
                    <li class="sale-card-box-item">Athlete</li>
                    <li class="sale-card-box-item">Golfer</li>
                    <li class="sale-card-box-item">Commander</li>
                    <li class="sale-card-box-item">Adventurer</li>
                </ul>
            </div>
        </div>
    </div>

</section>