li,
ul,
a,
p {
  padding: 0;
  display: block;
}
.footer {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  margin: 0 auto;
}
.footer-container {
  min-width: 335px;
  padding-top: 40px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #0c0c0c;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-one-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 92px;
}
.footer-social-div {
  margin-bottom: 20px;
}
.footer-logo {
  font-size: 16px;
  color: #fbfbfb;
  margin-bottom: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address {
  width: 152px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  margin-bottom: 40px;
}
.footer-address-link {
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text-one {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #fbfbfb;
}
.footer-two-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}
.footer-menu-list {
  width: 147px;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 18px;
}
.footer-menu-link {
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  color: #fbfbfb;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text-two {
  width: 83px;
  height: 48px;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
}
.footer-politick {
  position: relative;
  display: flex;
  flex-direction: column;
}
.footer-politick-text {
  width: 279px;
  font-size: 10px;
  line-height: 1.4;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
  margin-bottom: 8px;
}
.footer-line {
  position: absolute;
  top: -24px;
  width: 100%;
  height: 2px;
  stroke-width: 1px;
  stroke: rgba(251, 251, 251, 0.1);
}
.footer-politick-list {
  display: flex;
  column-gap: 20px;
}
.footer-politick-item {
}
.footer-politick-link {
  font-size: 10px;
  line-height: 1.4;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: #fbfbfb;
}
/* ======ivent========== */
.footer-social-item:hover,
.footer-social-item:focus {
  background-color: #fbfbfb;
  cursor: pointer;
}
.footer-social-item:hover .footer-social-icon,
.footer-social-item:focus .footer-social-icon {
  fill: #3350e9;
  scale: 1.2;
}
.footer-menu-item:hover .footer-menu-link,
.footer-menu-item:focus .footer-menu-link {
  color: #3350e9;
  scale: 1.2;
  transform: translateX(10%);
}
.footer-address:hover .footer-address-link,
.footer-address:focus .footer-address-link {
  color: #3350e9;
  scale: 1.1;
}
.footer-politick-item:hover .footer-politick-link,
.footer-politick-item:focus .footer-politick-link {
  color: #3350e9;
  scale: 1.1;
  transform: translateX(10%);
}
.footer-logo:hover,
.footer-logo:focus {
  color: #3350e9;
  scale: 1.2;
  transform: translateX(10%);
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .footer-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    width: 704px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer-one-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .footer-social-div {
    margin-bottom: 86px;
  }
  .footer-logo {
    font-size: 16px;
    color: #fbfbfb;
    margin-bottom: 20px;
  }
  .footer-social-item {
    width: 36px;
    height: 36px;
  }
  .footer-social-icon {
    width: 20px;
    height: 20px;
  }
  .footer-address {
    width: 160px;
    height: 48px;
    margin-bottom: 0;
  }
  .footer-address-link {
    font-size: 14px;
  }
  .footer-text-one {
    font-size: 28px;
    line-height: 1.14;
  }
  .footer-two-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 48px;
  }
  .footer-menu-list {
    width: 400px;
    height: 18px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
  }
  .footer-menu-link {
    font-size: 14px;
  }
  .footer-text-two {
    width: 144px;
    height: 40px;
    font-size: 14px;
  }
  .footer-politick {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-politick-text {
    opacity: 0.9;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
    opacity: 0.9;
  }
  .footer-line {
    top: -28px;
  }
  .footer-politick-link {
    font-size: 14px;
    line-height: 1.29;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container.container {
    width: 1216px;
  }
  .footer-one-container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 126px;
  }
  .footer-social-div {
    margin-bottom: 0;
    order: 1;
  }
  .footer-logo {
    font-size: 20px;
  }
  .footer-address {
    order: 3;
  }
  .footer-address-link {
    text-wrap: nowrap;
  }
  .footer-text-one {
    width: 523px;
    order: 2;
  }
  .footer-two-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 56px;
  }
  .footer-menu-list {
    width: 505px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 40px;
  }
  .footer-text-two {
    width: 162px;
    height: 36px;
    font-size: 14px;
  }
}
