.hero-container {
  font-family: 'Gilroy', sans-serif;
  padding-top: 60px;
}
.hero-description-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 28px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.hero-title-color {
  color: #3350e9;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.hero-photos-list {
  display: flex;
  flex-direction: row;
}
.hero-list-photo {
  position: relative;
  border-radius: 100%;
  border-width: 2px;
  border-color: #fbfbfb;
}
.hero-list-photo.photo2 {
  left: -8px;
}
.hero-list-photo.photo3 {
  left: -16px;
}
.hero-image-section-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 28px;
}
.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
